{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tittel{% endblock %}</title>

    <link rel="shortcut icon" type='image/x-icon' href="{% static 'favicon.ico' %}" >

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <style>
        .bakgrunn {
            background-color: #fff5c3;
        }
    </style>

</head>
<body class="bakgrunn">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ><!--href="https://www.norkart.no/" target="_blank"-->
              <img src="{% static 'images/Path.png' %}" style="height: 30px">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li><a href="/">Index</a></li>
              <li><a href="/finnbesterute">Finn</a></li>
              <li><a href="/finnbesterute/lastoppbilde">Last opp bilde</a></li>
              <li><a href="/finnbesterute/visbilder">Bilder</a></li>
              <li><a href="/user/signup">Sign up</a> </li>
              {% if user.is_authenticated %}
                  <li><a href="/finnbesterute/last_opp_filer">Ny analyse</a></li>
                  <li><a href="/finnbesterute/vis_filer">Filer</a></li>
                  <li><a>Profile</a></li>
                  <li><a href="/user/logout">Logout</a> </li>
              {% else %}
                  <li><a href="/user/login">Login</a> </li>
              {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--<p>Dette er base</p>-->
    {% block content%}{% endblock %}
</body>
</html>