{% extends 'base.html' %}
{% load static %}
{% block title %}Last opp orienteringsfiler{% endblock %}
{% block content %}
    <div align="left" style="width: 500px; margin-left: 20px">
        <h4>Last opp noen filer for veianalyse.</h4>
        <h5><b>NB</b>: duplikater lagres ikke!</h5>
        <br>
        <p>Instrukser:</p>
        <ol type="1">
            <li>Lag en vei/sekvens av punkter i en .ocd fil (OCAD). Sørg for at kartet har gyldige data.</li>
            <li>Eksporter til shape filer.</li>
            <li>Last opp shape-filene.</li>
            <li>Sjekk eposten din for resultat. Analysen gjøres i bakgrunnen.</li>
        </ol>
        {% if user.is_authenticated %}
            <form id="submit" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="margin: 50px; border: 1px solid #4CAF50;">
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                              <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                </div>

                <div class="col-md-12" id="submitContainer">
                    <button class="btn btn-primary btn-lg" type="submit">Last opp</button>
                </div>
            </form>

        {% else %}
            <p>Du må være logget inn for å laste opp filer</p>
        {% endif %}


        </form>
    </div>
{% endblock %}