{% extends 'base.html' %}
{% load static %}
{% block title %}Bildeliste{% endblock %}
{% block content %}
    <div align="center" style="width: 400px; padding-bottom: 20px">

        <p>{{ text }}</p>

        {% if images %}

            {% for image in images %}
                {% if image.bilde %}
                    <p>Lastet opp av: {{ image.uploader }}</p>
                    <a href="{% url 'bilde' image.pk%}"><img src="{{ image.bilde.url }}" style="max-width: 200px; max-height: 200px"></a>
                {% endif %}
            {% endfor %}

        {% endif %}

    </div>
{% endblock %}