{% extends 'base.html' %}
{% load static %}
{% block title %}Bildeliste{% endblock %}
{% block content %}
    <div align="left"  style="width: 400px; margin-left: 20px" >

        <p>{{ asdflkjasdflkjasdf }}</p>

        {% if files %}
            {% for file in files %}
                {{ file }} <button onclick="{}"></button>
                <br>
            {% endfor %}
            {% else %}
            <p>Du har ikke lastet opp noen filer.</p>
        {% endif %}

    </div>
{% endblock %}
